{% extends 'base/main.html'%}
{% block content %}


<div class="header-bar">
  <div>
    <h1>Hello What's Up?<strong style="color:black;"> {{request.user|title}}</h1>
    <h3 style="margin: 0;">You have <i>{{count}}</i> incomplete   task{{ count|pluralize:"s" }} <i style= "color:black;" class="fas fa-tasks"></i></h3>
  </div>
  {% if request.user.is_authenticated %}
  <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
  {% else %}
  <a href="{% url 'login' %}">Login</a>
  {% endif %}
</div>




<div id="search-add-wrapper">
  <form method="GET" style=" display:flex;">
    <input type="text" name="search-area" value="{{search_input}}">
    <input class="button fas fa-search" type="submit" value="Search">
  </form>
  <a id="add-link" href="{% url 'tasks-create' %}"><i class="fas fa-plus"></i></a>
</div>


<div class="task-items-wrapper">
  {% for task in tasks %}
  <div class="task-wrapper">
    {% if task.complete %}
    <div class="task-title">
     <div class="task-complete-icon"></div>
     <i><s><a href="{% url 'tasks-update' task.id %}">{{task}}</a></s></i>
    </div>

    <a class="delete-link" href="{% url 'tasks-delete' task.id %}"><i class="fas fa-trash"></i></a>
    {% else %}
    <div class="task-title">
      <div class="task-incomplete-icon"></div>
      <a href="{% url 'tasks-update' task.id %}">{{task}}</a>
     </div>
     <a class="delete-link" href="{% url 'tasks-delete' task.id %}"><i class="fas fa-trash"></i></a>
    {% endif %}

  </div>
  {% empty %}
  <h3>No Items in list</h3>
  {% endfor %}

</div>

{% endblock content %}